{% load static %}
{% load css_inline %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specifictions</title>
    {% css_inline %}
    <link rel="stylesheet" href="{%static '/css/order.css' %}">
    {% end_css_inline %}
</head>
<body>

    <main class="container">
        <h1>Site Specifictions:</h1>
        <div class="name">
            <h2>Business name:</h2>
            <p>{{bname}}</p>
        </div>
        <div class="subject">
            <h2>Site subject:</h2>
            <p>{{subject}}</p>
        </div>
        <div class="brief">
            <h2>Brief:</h2>
            <p>{{brief}}</p>
        </div>
    </main>
    
</body>
</html>