{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specifictions</title>
    <link rel="stylesheet" href="{%static '/css/order.css' %}">
</head>
<body>

    <main class="container">
        <h1>Site Specifictions:</h1>
        <div class="name">
            <h2>Business name:</h2>
            <p>Folan business</p>
        </div>
        <div class="subject">
            <h2>Site subject:</h2>
            <p>Folan subject</p>
        </div>
        <div class="image">
            <h2>Logo Image:</h2>
            <img src="{%static '/images/order specifictions/test-logo.jpg'%}" alt="Logo Image">
        </div>
        <div class="brief">
            <h2>Brief:</h2>
            <p>Floan bahman bisar Floan bahman bisar Floan bahman bisar</p>
        </div>
    </main>
    
</body>
</html>