/* ------ Start Main styles ------ */

@import "fonts.css";
@import "variables.css";
@import "animations.css";

body {
    font-family: 'Super Mario';
    color: var(--white-color);
    background-color: var(--blue-color);
    font-size: 1.8rem;
    line-height: 1.25;
    height: 4000px;
    z-index: 0;
}

.container {
    max-width: 100%;
}

.black-overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10;
    transition: width .2s;
}
.black-overlay--shown {
    width: 100%;
}

.super-mario-image {
    background-image: url("../images/genreal/SuperMario--Stop.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 43.2px;
    position: absolute;
    top: -43.2px;
    left: 0;
    z-index: 10;
}
.super-mario-image-reverse {
    transform: scaleX(-1);
    left: auto;
    right: 0;
}

.blocks-image {
    width: 20px;
    height: 40px;
}

.section__title {
    font-size: 1.7rem;
}

/* ------ Finish Main styles ------ */


/* ------ Start Menu ------ */

.menu {
    width: 100%;
    position: fixed;
    z-index: 20;
}

.menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px var(--white-color);
    background-color: var(--blue-color);
    padding: 1rem 2rem;
} 

.menu-mobile__btn--show,
.menu-mobile__btn--close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.menu-mobile__btn-image--show,
.menu-mobile__btn-image--close {
    width: inherit;
    height: inherit;
    color: var(--white-color);
}

.menu-mobile__link {
    font-size: 1.4rem;
    color: var(--white-color);
}

.menu-mobile__side {
    width: 200px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -200px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--blue-color);
    z-index: 30;
    transition: left .2s;
}
.menu-mobile__side--shown {
    left: 0;
}

.menu-mobile__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4rem;
    padding-top: 4rem;
}

.menu-mobile__list-item {
    font-size: 1.5rem;
}

.menu-desktop {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    height: 9rem;
    border: solid 4.5px var(--white-color);
    background-color: var(--blue-color);
}

.menu__right {
    display: flex;
    gap: 3rem;
}

.menu-link--hover {
    color: var(--white-color);
    position: relative;
    padding-bottom: 0.2rem;
}
.menu-link--hover::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 1px;
    background-color: var(--white-color);
    transition: width .35s;
}
.menu-link--hover:hover::before {
    width: 100%;
}

/* ------ Finish Menu ------ */


/* ------ Start Header & Templates ------ */

.header,
.templates,
.whoarewe,
.order {
    height: 100vh;
    width: 100%;
    overflow-x: clip;
    position: relative;
}

.header__images,
.templates__images,
.whoarewe__images,
.order__images {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: auto;
}

.header__cloud1-image, 
.templates__cloud1-image,
.order__cloud1-image {
    width: 52px;
    height: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
}

.header__bottom-images,
.templates__bottom-images,
.whoarewe__bottom-images,
.order__bottom-images {
    display: flex;
    justify-content: space-between;
}

.header__bottom-left-images,
.header__bottom-right-images,
.templates__bottom-left-images,
.templates__bottom-right-images,
.whoarewe__bottom-left-images,
.whoarewe__bottom-right-images,
.order__bottom-left-images,
.order__bottom-right-images {
    display: flex;
    position: relative;
}

.header__content,
.templates__content,
.whoarewe__content,
.order__content {
    width: 100%;
    height: calc(100% - 40px);
}

/* ------ Finish Header & Templates  ------ */


/* ------ Start Header ------ */

.header__cloud2-image,
.whoarewe__cloud2-image {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 30%;
    left: 70%;
}

.header__middle-boxes-image {
    width: 120px;
    height: 40px;
    position: absolute;
    top: 70%;
    left: 60%;
}

.header__grass-hill1-image {
    width: 100px;
    height: 40px;
    position: absolute;
    top: -40px;
    left: 0;
}

.header__grasses1-image,
.order__grasses1-image {
    width: 60px;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 50%;
}

.header__bottom-left-images img:nth-child(4),
.header__bottom-left-images img:nth-child(5),
.header__bottom-left-images img:nth-child(6), 
.header__bottom-left-images img:nth-child(7), 
.header__bottom-left-images img:nth-child(8), 
.header__bottom-right-images img:nth-child(1),
.header__bottom-right-images img:nth-child(2) {
    display: none;
}

.header__content {
    display: flex;
    align-items: center;
    padding-left: 2.2rem;
    position: relative;
    z-index: 10;
}

.header__logo {
    width: 225px;
    height: 45px;
}

.header__description {
    width: 250px;
    padding-top: 1rem;
    font-size: 1.2rem;
}

/* ------ Finish Header ------ */

/* ------ Start Templates ------ */

.templates__content,
.order__content,
.whoarewe__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.templates__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.templates__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.templates__title--text-green {
    color: var(--green-color);
}

.templates__description {
    width: 300px;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.2rem;
}

.templates__slider {
    width: 300px;
    height: 200px;
}

.templates__slider-sliding {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.templates__slider-text {
    color: var(--white-color);
}

.slider-btn {
    width: 15px;
    height: 24px;
    top: 50%;
    transform: translateY(50%);
}

.slider-scrollbar {
    display: none;
}

.templates__bottom-right-images img:nth-child(2),
.templates__bottom-right-images img:nth-child(3),
.templates__bottom-right-images img:nth-child(4), 
.templates__bottom-right-images img:nth-child(5), 
.templates__bottom-right-images img:nth-child(6), 
.templates__bottom-left-images img:nth-child(3),
.templates__bottom-left-images img:nth-child(4) {
    display: none;
}

.templates__cloud1-image {
    display: none;
    left: 70%;
}

.templates__grasses2-image,
.whoarewe__grasses2-image {
    display: none;
    width: 150px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
}

.templates__chimney-image,
.whoarewe__chimney-image {
    width: 40px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: 40%;
}

.templates__grass-hill2-image,
.whoarewe__grass-hill2-image {
    width: 69px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: 30%;
}

/* ------ Finish Templates ------ */

/* ------ Start Whoarewe ------ */

.whoarewe__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.whoarewe__slider {
    width: 300px;
}

.whoarewe__slider-content {
    height: 260px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: auto;
    border: 2px var(--white-color) solid;
    background-color: var(--blue-color);
}

.whoarewe__slider-title {
    font-size: 1.4rem;
    text-align: center;
    color: var(--green-color);
}

.whoarewe__slider-description {
    font-size: 1rem;
}

.whoarewe__slider-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: .9rem;
}

.whoarewe__slider-person-image {
    width: 30px;
    height: 30px;
}

.whoarewe__slider-scrollbar {
    display: none;
}

.whoarewe__bottom-right-images img:nth-child(3),
.whoarewe__bottom-right-images img:nth-child(4), 
.whoarewe__bottom-right-images img:nth-child(5), 
.whoarewe__bottom-right-images img:nth-child(6), 
.whoarewe__bottom-right-images img:nth-child(7),
.whoarewe__bottom-right-images img:nth-child(8),
.whoarewe__bottom-right-images img:nth-child(9) {
    display: none;
}

.whoarewe__cloud3-image {
    width: 138px;
    height: 60px;
    position: absolute;
    top: 20%;
    left: 10%;
    display: none;
}

.whoarewe__grasses2-image {
    left: -150%;
}

.whoarewe__chimney-image {
    left: auto;
    right: 20%;
}

/* ------ Finish Whoarewe ------ */


/* ------ Start Order ------ */

.order__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.order__section__title {
    text-align: center;
    width: min-content;
}

.order__title-green {
    color: var(--green-color);
}

.order__texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.order__texts-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;
}

.order__texts-right-specifictions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.order__texts-right-name {

}

.order__texts-right-name-title,
.order__texts-right-file-title,
.order__texts-left-title {
    font-size: 1.2rem;
}

.order__texts-right-name-input {
    background-color: transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: .5rem;
    font-family: 'Super Mario';
    font-size: 1rem;
}
.order__texts-right-name-input::placeholder {
    color: inherit;
    font-family: inherit;
    font-size: .9rem;
    opacity: .5;
}

.order__texts-right-file {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.order__texts-right-file-input {
    display: none;
}

.order__texts-right-file-input-label {
    width: 25px;
    height: 25px;
    border: 2px solid var(--white-color);
    padding: .2rem;
    transition: all .2s;
}
.order__texts-right-file-input-label:hover {
    filter: invert(64%) sepia(85%) saturate(1012%) hue-rotate(333deg) brightness(102%) contrast(98%);
    border-color: var(--orange-color);
}

.order__texts-right-subjects {
    position: relative;
}

.order__texts-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: .5rem;
    font-size: 1.2rem;
    margin: auto;
    font-family: inherit;
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
}

.order__texts-dropdown-btn-img {
    width: 18px;
    height: 18px;
}

.order__texts-dropdown {
    width: 90%;
    height: 100px;
    display: none;
    align-items: center;
    flex-wrap: wrap;
    gap: .8rem;
    position: absolute;
    font-size: .8rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--blue-color);
    border: 2px solid var(--white-color);
    padding: .8rem;
    margin-top: .5rem;
    z-index: 10;
    overflow-y: scroll;
    transition: all .2s;
}
.order__texts-dropdown--shown {
    display: flex;
}
.order__texts-dropdown li {
    transition: color .2s;
    cursor: pointer;
}
.order__texts-dropdown li:hover {
    color: var(--orange-color);
}
.order__texts-dropdown-li-activated {
    color: var(--orange-color);
}

.order__texts-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.order__texts-left-input-textarea {
    border: none;
    margin-top: .5rem;
    background-color: var(--blue-color);
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: .5rem;
}
.order__texts-left-input-textarea::placeholder {
    color: inherit;
    font-family: 'Super Mario';
    font-size: .8rem;
    padding: .5rem;
    opacity: .5;
}

.order__texts-left-btn {
    width: 80px;
    background-color: var(--blue-color);
    border: 2px solid var(--white-color);
    color: var(--white-color);
    font-family: 'Super Mario';
    font-size: 1rem;
    padding: .5rem 0;
    margin-left: auto;
    transition: all .2s;
}
.order__texts-left-btn:hover {
    color: var(--orange-color);
    border-color: var(--orange-color);
}

.order__bottom-left-images img:nth-child(3),
.order__bottom-left-images img:nth-child(4), 
.order__bottom-left-images img:nth-child(5), 
.order__bottom-left-images img:nth-child(6), 
.order__bottom-left-images img:nth-child(7),
.order__bottom-left-images img:nth-child(8),
.order__bottom-left-images img:nth-child(9) {
    display: none;
}

.order__cloud1-image {
    left: 80%;
}

.order__grasses1-image {
    left: 10%;
}

.order__flag-image {
    width: 30px;
    height: 210px;
    position: absolute;
    right: 0;
    top: -190px;
    z-index: 18;
}

/* ------ Finish Order ------ */